.page {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 100vh;
  color: #fff;
  background-color: #1b1919;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
}

.content {
  display: grid;
  inline-size: 1200px;
  grid-template-columns: 2.85fr 1.6fr;
  gap: 30px;
  padding-inline: 30px;
}
