/* Базовые/глобальные стили */
.page {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: normal;
  block-size: 100vh;
  inline-size: 100vw;
  color: #fff;
  background-color: #1b1919;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
}

@media (max-width: 768px) {
  .page {
    block-size: 100%;
    font-size: 14px;
  }
}

.visually-hidden {
  position: absolute;        /* Убираем из потока, чтобы элемент не влиял на layout */
  overflow: hidden;          /* Скрываем всё содержимое, выходящее за пределы */
  padding: 0;                /* Убираем внутренние отступы */
  margin: -1px;              /* Смещаем элемент за пределы видимой области */
  block-size: 1px;           /* То же самое по высоте */
  inline-size: 1px;          /* Делаем элемент очень узким (по ширине) */
  border: 0;                 /* Убираем границу, если она задана */
  white-space: nowrap;       /* Запрещаем перенос строк, чтобы текст не вылез */
  clip-path: inset(50%);     /* Обрезаем содержимое со всех сторон на 50% */
}

/* Основной контент */
.content {
  display: grid;
  align-content: center;
  justify-content: center;
  block-size: 66.5%;
  inline-size: 100%;
  grid-template-columns: 2.85fr 1.6fr;
  gap: 30px;
  padding-inline: 30px;
}

@media (max-width: 768px) {
  .content {
    block-size: 100%;
    grid-template-columns: 1fr;
    gap: 30px;
    padding-inline: 15px;
    padding-block: 30px;
  }
}

.mobile-content__details-title {
  display: none;
  line-height: 0.94;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 40px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .mobile-content__details-title {
    display: block;

  }
}

/* Секция результатов */
.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  padding-block-start: 75px;
  inline-size: 100%;
}

@media (max-width: 768px) {
  .result__video-container {
    padding-block: 0;
  }
}

.result__video {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 711 / 386;
}

@media (max-width: 768px) {
  .result__video {
    aspect-ratio: 345 / 194;
  }
}


/* Форма поиска */
.result__search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

@media (max-width: 768px) {
  .result__search-form {
    flex-wrap: wrap;
    gap: 10px;
  }
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__textfield {
  min-inline-size: 225px;
  border: none;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  color: #fff;
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
}

@media (max-width: 768px) {
  .search-form__textfield {
    min-inline-size: 170px;
    font-size: 14px;
  }
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
  outline-offset: -1px;  
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}

.search-form__label:has(:focus) {
  outline: none;
}

.search-form__label:has(:focus-visible):not(:active) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:hover:not(:active) .search-form__checkbox-text {
  text-decoration: underline;
}

.search-form__checkbox-pseudo {
  display: inline-block;
  block-size: 19px;
  inline-size: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:active + .search-form__checkbox-pseudo::after {
  display: inline-block;
  margin: 1px;
  block-size: 15px;
  inline-size: 15px;
  background-color: #fff;
  content: "";
}

.search-form__checkbox:checked + .search-form__checkbox-pseudo::after {
  display: inline-block;
  margin: 1px;
  block-size: 15px;
  inline-size: 15px;
  background-color: #fff;
  content: "";
}

.search-form__submit-button {
  align-self: end;
  block-size: 34px;
  padding-inline: 73px;
  padding-block: 6px;
}

@media (max-width: 768px) {
  .search-form__submit-button {
    align-self: end;
    block-size: 29px;
    padding-inline: 47px;
    padding-block: 6px;
  }
}

@media (max-width: 560px) {
  .fieldset__input {
    order: 1;
  }
    
  .search-form__submit-button {
    order: 2;
  }

  .fieldset__checkbox {
    order: 3;
  }
}


/* Детали контента */
.content__details {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  block-size: 100%;
  gap: 20px;
}

@media (max-width: 768px) {
  .content__details {
    overflow: visible;
  }
}

.content__details-title {
  line-height: 0.94;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .content__details-title {
    display: none;
  }
}

.content__details-title--accent {
  color: #545050;
}

/* Список видео */
.content__list {
  position: relative;
  display: flex;
  overflow: auto;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}

.content__list:last-child {
  padding-inline-start: 2px;
}

.content__list::-webkit-scrollbar {
  width: 6px;
}

.content__list::-webkit-scrollbar-track {
  background: rgb(255 255 255 / 0.7);
}

.content__list::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: #545050;
}

.content__list-item {
  padding: 3px 4px 2px 2px;
}

.content__list-item:has(.content__card-link_current) {
  background-color: #545050;
}

.content__list li:empty {
  display: none;
}

/* Карточки видео */
.content__card-link {
  display: block;
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover:not(:active) {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.content__video-card {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  overflow: hidden;
  line-height: 105%;
  color: #fff;
  text-transform: uppercase;
  text-overflow: ellipsis;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
}

@media (max-width: 768px) {
  .content__video-card-title {
    font-size: 20px;
  }
}

.content__video-card-description {
  line-height: 90%;
  color: #fff;
}

.content__video-card-thumbnail {
  inline-size: 100%;
  aspect-ratio: 194 / 103;
}

/* Кнопки */
.button {
  border: 1px solid #fff;
  color: #FFF;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button:active {
  background-color: #545050;
}

.button:hover:not(:active) {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .button {
    font-size: 14px;
  }
}

.more-button {
  margin-block-end: 3px;
  margin-inline-start: 2px;
  block-size: 34px;
  inline-size: 98%;
}